@charset "UTF-8";
.navigation 
{
  height: 70px;
  background: #ffffff;
}
.nav-container 
{
  max-width: 1000px;
  margin: 0 auto;
 
}

*
{
  margin: 0;
  padding: 0;
}

nav 
{
  float: right;
  margin-left: -700px;
}
nav ul 
{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li 
{
  float: left;
  position: relative;
  font-family: 'Poppins', sans-serif;
  
}
nav ul li a,
nav ul li a:visited 
{
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
}
#brand
{
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: -400px;
}
#nav
{
  margin-top: -80px;
  margin-right:-100px;
}
.nav_btn1 {
  background-color: #050505; 
  color: white;
  text-align: center;
  text-decoration: none;
  height: 35px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  width: 90px;
  margin-left: 15px;
  margin-top: 15px;
}
.nav_btn2 {
  background-color: #050505; 
  color: white;
  text-align: center;
  text-decoration: none;
  height: 35px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  width: 90px;
  margin-left: 15px;
  margin-top: 15px;
}

#heroimg
{
  width: 100%;
  height: 100%;
  
}

.lingr
{
  width: 100%;
  height: 250px;
  background-image: linear-gradient(to left , #BFFFB2 , #FFFFFF);
  margin-top: -5px;
  
}
#mug_base
{
  font-family: 'Poppins' sans-serif;
  font-size: 24;
  margin-left: 890px;
  text-align: center;
  margin-top: -180px;
}

#herobtnsec
{
  margin-left: 1120px;
}
#mug_base2
{
  font-family: 'Poppins' sans-serif;
  font-size: 24;
  margin-left: 45px;
  text-align: center;
  margin-top: -300px;
}


